In [14]:
import pandas as pd
import os
from glob import glob
from PIL import Image
import matplotlib.pyplot as plt
import cv2

from urllib import request
import urllib
from io import BytesIO
import numpy as np
from skimage import io
from tqdm import tqdm
import pickle

In [2]:
df = pd.read_csv("./csv/침구-커튼-러그/러그.csv")
df.head()

,PROD_ID,PROD_NM,LV0,LV1,LV2,IMG_URL,LV0_onehot,LV1_onehot,LV2_onehot
0,17619,독일 클라이네볼케 정품 카로 매트 (55*65),침구/커튼/러그,러그,발매트,https://image.hanssem.com/hsimg//gds/550/17/17...,[0 0 0 0 0 0 0 1 0],[0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0...,[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0...
1,24806,[바이빔]심플 러그-사각소형(3color),침구/커튼/러그,러그,베이직러그(솔리드),https://image.hanssem.com/hsimg//gds/550/24/24...,[0 0 0 0 0 0 0 1 0],[0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0...,[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0...
2,24812,[바이빔]심플 러그-원형(3color),침구/커튼/러그,러그,원형러그,https://image.hanssem.com/hsimg//gds/550/24/24...,[0 0 0 0 0 0 0 1 0],[0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0...,[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0...
3,27161,[바이빔]스타 러그-사각소형(4color),침구/커튼/러그,러그,베이직러그(솔리드),https://image.hanssem.com/hsimg//gds/550/27/27...,[0 0 0 0 0 0 0 1 0],[0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0...,[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0...
4,27162,[바이빔]스타 러그-사각중형(4color),침구/커튼/러그,러그,베이직러그(솔리드),https://image.hanssem.com/hsimg//gds/550/27/27...,[0 0 0 0 0 0 0 1 0],[0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0...,[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0...

In [3]:
path = "./csv/침구-커튼-러그/러그"

In [4]:
for idx in df.index:
    df["LV0"][idx] = df["LV0"][idx].replace("/","-")
    df["LV1"][idx] = df["LV1"][idx].replace("/","-")
    df["LV2"][idx] = df["LV2"][idx].replace("/","-")

ipykernel_launcher:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
ipykernel_launcher:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
ipykernel_launcher:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [5]:
df.head()

,PROD_ID,PROD_NM,LV0,LV1,LV2,IMG_URL,LV0_onehot,LV1_onehot,LV2_onehot
0,17619,독일 클라이네볼케 정품 카로 매트 (55*65),침구-커튼-러그,러그,발매트,https://image.hanssem.com/hsimg//gds/550/17/17...,[0 0 0 0 0 0 0 1 0],[0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0...,[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0...
1,24806,[바이빔]심플 러그-사각소형(3color),침구-커튼-러그,러그,베이직러그(솔리드),https://image.hanssem.com/hsimg//gds/550/24/24...,[0 0 0 0 0 0 0 1 0],[0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0...,[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0...
2,24812,[바이빔]심플 러그-원형(3color),침구-커튼-러그,러그,원형러그,https://image.hanssem.com/hsimg//gds/550/24/24...,[0 0 0 0 0 0 0 1 0],[0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0...,[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0...
3,27161,[바이빔]스타 러그-사각소형(4color),침구-커튼-러그,러그,베이직러그(솔리드),https://image.hanssem.com/hsimg//gds/550/27/27...,[0 0 0 0 0 0 0 1 0],[0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0...,[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0...
4,27162,[바이빔]스타 러그-사각중형(4color),침구-커튼-러그,러그,베이직러그(솔리드),https://image.hanssem.com/hsimg//gds/550/27/27...,[0 0 0 0 0 0 0 1 0],[0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0...,[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0...

In [13]:
res = request.urlopen(df["IMG_URL"][0])
img = Image.open(BytesIO(res.read()))

In [6]:
# indices = []
# imgs = []
# lv2_names = []
# for idx in tqdm(df.index):
#     try:
#         res = request.urlopen(df["IMG_URL"][idx])
#         img = Image.open(BytesIO(res.read())) 
#         if np.array(img).shape == (550,550,3) :
#             imgs.append(img)
#             lv2_names.append(df["LV2"][idx])
#         else:
#             indices.append(idx)
        
#     except:
#         indices.append(idx)

100%|██████████| 5756/5756 [09:23<00:00, 10.21it/s]

In [7]:
with open("dropped_indices.p", "rb") as f:
    indices = pickle.load(f)
indices

[1900, 2020, 2215, 2734, 3225, 4932, 5617]

In [ ]:
with open("imgs.p", "rb") as f:
    imgs = pickle.load(f)
imgs

In [ ]:
with open("lv2_names.p", "rb") as f:
    lv2_names = pickle.load(f)
lv2_names

In [11]:
len(imgs)

5749

In [12]:
len(lv2_names)

5749

In [25]:
# for label in df["LV2"].unique():
#     os.makedirs(path+f"/{label}")

In [30]:
for img in imgs[:3]:
    img.show()

In [35]:
for idx,img in tqdm(enumerate(imgs)):
    save_path = path+f"/{lv2_names[idx]}"
    # print(save_path)
    img.save(save_path+f"/{idx}.png")