In [8]:
import pandas as pd
import numpy as np

df = pd.read_csv("onehot_type_ndarray.csv")
df.head()

   PROD_ID  ...                                         LV2_onehot
0   578214  ...  [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0...
1   578215  ...  [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0...
2   543542  ...  [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0...
3   543535  ...  [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0...
4   543529  ...  [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0...

[5 rows x 9 columns]

In [24]:
df["LV0"].value_counts()

침구/커튼/러그    23875
침대/침실가구     13048
인테리어소가구      9661
식탁/주방가구      5645
옷장/붙박이장      4162
소파/거실가구      3971
조명           3435
책장/책상/의자     2597
유아동가구/용품      653
Name: LV0, dtype: int64

In [16]:
lv0_names = list(np.unique(df["LV0"]))
lv0_names

['소파/거실가구',
 '식탁/주방가구',
 '옷장/붙박이장',
 '유아동가구/용품',
 '인테리어소가구',
 '조명',
 '책장/책상/의자',
 '침구/커튼/러그',
 '침대/침실가구']

In [37]:
lv0_names2 = []
for lv0_name in lv0_names:
    name = lv0_name.replace("/","-")
    lv0_names2.append(name)

In [39]:
lv0_names2

['소파-거실가구',
 '식탁-주방가구',
 '옷장-붙박이장',
 '유아동가구-용품',
 '인테리어소가구',
 '조명',
 '책장-책상-의자',
 '침구-커튼-러그',
 '침대-침실가구']

In [38]:
df[df["LV0"]==lv0_names[0]].to_csv(f"./csv/{lv0_names2[0]}.csv",index=False, encoding="utf-8-sig")

In [42]:
for i in range(len(lv0_names)):
    df[df["LV0"]==lv0_names[i]].to_csv(f"./csv/{lv0_names2[i]}.csv",index=False,encoding="utf-8-sig")

In [ ]:
$